$aliceBlue: #f6fbfe;
$amber: #ffc10a;
$astral: #31708f;
$black: #000;
$blackRussian: #0b132b;
$cinnabar: #e54d3e;
$coral: #ff7f50;
$cornSilk: #fcf8e3;
$curiousBlue: #3498db;
$fernGreen: #537348;
$frostee: #d6e9c6;
$gainsboro: #ddd;
$ginFizz: #faebcc;
$grey: #757575;
$hintOfGreen: #e4efdb;
$jacksonsPurple: #3e3b7c;
$lavenderBlush: #f9f2f4;
$lightGray: #cbced1;
$lightSlateBlue: #8087f3;
$lochmara: #1d6fa5;
$matterhorn: #555;
$mcKenzie: #8a6d3b;
$mediumSeaGreen: #39ca74;
$moonYellow: #f1c40f;
$nobel: #999;
$oldRose: #c7254e;
$onahau: #bce8f1;
$paleRose: #ebccd1;
$pattensBlue: #d9edf7;
$progressBarRed: #e74b3b;
$progressBarYellow: #f1c40f;
$progressBarGreen: #31af64;
$regalBlue: #153255;
$roofTerracotta: #a94442;
$silver: #c3c3c3;
$snow: #fafafa;
$softPeach: #ebdfdd;
$summerSky: #32ceeb;
$whisper: #eee;
$white: #fff;
$whiteSmoke: #fbfbfb;
